.main
  padding: 2rem 1rem

.wrapper
  display: grid
  place-items: center

.selector
  margin-bottom: 1.5rem

.chart
  font-size: 0.7rem
  @media screen and ( min-width: 640px )
    font-size: 0.9rem
